
backend-portal-sv/backend-portal-sv/appsettings.json
backend-portal-sv/backend-portal-sv/appsettings.Development.json
backend-portal-sv/backend-portal-sv/bin/Debug/net8.0/appsettings.Development.json
backend-portal-sv/backend-portal-sv/bin/Debug/net8.0/appsettings.json
backend-portal-sv/backend-portal-sv/appsettings.Development.json